@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

:root {
  --primary-bg-color: #f5f6fa;
  --secondary-bg-color: #fafafa;
  --primary-font-color: #0290ff;
  --secondary-font-color: #121212;
  --tertiary-font-color: #4386bf;
  --primary-border-color: #e8e8e8;
  --secondary-border-color: #f0f0f0;
  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Roboto Slab', serif;
}

* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.fontsty-normal {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.montserrat {
  font-family: var(--font-family-primary);
}

.roboto {
  font-family: var(--font-family-secondary);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100rem;
  height: 89.625rem;
  padding: 9.313rem 3.75rem 7.688rem 6.25rem;
  background-color: var(--primary-bg-color);
}

.page {
  width: 87.5rem;
  height: 68rem;
  margin: auto;
  padding: 0 0 23rem;
  border-radius: 4px;
  box-shadow: 40px 40px 100px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-bg-color);
  align-items: center;
}

.nav-container {
  align-items: center;
  height: 5.938rem;
  padding: 0 6.25rem;
  background-color: #fff;
  margin-bottom: 3.125rem;
  border-bottom: 1px solid var(--primary-border-color);
}

.title-app {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--primary-font-color);
}

nav ul {
  flex-grow: 1;
  list-style-type: none;
  gap: 40px;
  letter-spacing: 1.9px;
}

nav ul li a {
  text-decoration: none;
  opacity: 1;
  color: var(--secondary-font-color);
  letter-spacing: 1.9px;
  font-family: var(--font-family-primary);
}

.nav-list {
  gap: 2.5rem;
}

.log-in {
  color: var(--primary-font-color);
  margin-left: auto;
}

.icon {
  height: 2.313rem;
  width: auto;
  cursor: pointer;
}

.lesson-panel {
  border: solid 1px var(--secondary-border-color);
  justify-content: space-between;
  background-color: #fff;
  margin: 1rem 6.25rem;
  padding: 2rem 1.5rem;
}

.book-content {
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.type {
  height: 1.125rem;
  width: 3.063rem;
  opacity: 0.5;
  font-size: 0.875rem;
  margin: 0 2.438rem 0.3rem 0;
  font-weight: bold;
  color: var(--secondary-font-color);
}

.title {
  height: 1.813rem;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--secondary-font-color);
}

.author {
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--tertiary-font-color);
}

.buttons {
  padding-top: 1rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
}

.comment {
  margin: 0.188rem 0 0.125rem 0;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--tertiary-font-color);
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.remove {
  height: 1.188rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--tertiary-font-color);
  background-color: #fff;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-top: none;
  border-bottom: none;
  padding: 0 0.938rem;
  margin: 0 0.938rem;
  cursor: pointer;
}

.edit {
  height: 1.188rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--tertiary-font-color);
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.buttons .button:not(:last-child)::after {
  content: '|';
  margin: 0 10px;
  color: var(--primary-border-color);
}

.advance {
  align-items: center;
}

.circle {
  width: 64px;
  height: 64px;
  position: relative;
  margin-right: 1rem;
}

.advance-percent-completed {
  border-right: 1px solid #e8e8e8;
}

.advance-percent {
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-size: 2rem;
  font-weight: normal;
  color: #121212;
}

.advance-completed {
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: normal;
  color: #121212;
}

.chapter-container {
  flex-direction: column;
  margin-right: 9rem;
}

.current-chapter {
  height: 1.125rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
}

.chapter {
  height: 1.313rem;
  margin: 0.438rem 0 0.25rem 0;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
}

button.button-update {
  margin: 0.75rem 0 0.563rem 0;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #2e90f0;
  color: #c3daf0;
  border: none;
  cursor: pointer;
}

.CircularProgressbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.book-content h3 {
  font-size: 22px;
  color: #121212;
  margin-bottom: 10px;
}

.form-container {
  border-top: 1px solid var(--primary-border-color);
  margin: 2rem 6.25rem 5rem 6.25rem;
}

.form {
  justify-content: space-between;
}

.form-title {
  height: 1.5rem;
  margin: 1.813rem auto 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

.book-form-title {
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px var(--primary-border-color);
  background-color: #fff;
  padding-left: 1rem;
  width: 55.15%;
  font-size: 1rem;
}

.book-form-author {
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px var(--primary-border-color);
  background-color: #fff;
  padding-left: 1rem;
  width: 23.67%;
  font-size: 1rem;
}

.form-button {
  height: 2.813rem;
  border-radius: 3px;
  color: #fff;
  background-color: #2e90f0;
  width: 15.28%;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100vh;
    padding: 1rem;
  }

  .page {
    width: 100%;
    box-shadow: none;
    margin: auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  .nav-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 3.125rem;
    border-bottom: 1px solid var(--primary-border-color);
  }

  .title-app {
    margin-left: 6rem;
  }

  .log-in {
    color: var(--tertiary-font-color);
    margin-right: 6rem;
  }

  .nav-list {
    display: none;
  }

  .container {
    max-width: calc(600px + (2 * var(--gutter)));
  }

  .lesson-panel {
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
  }

  .book-content {
    width: 100%;
    align-items: center;
    order: 1;
    padding-bottom: 3rem;
  }

  .author {
    display: flex;
    justify-content: center;
  }

  .type {
    display: none;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .buttons .button:not(:last-child)::after {
    display: none;
  }

  .advance {
    display: none;
  }

  .chapter-container {
    margin-right: 0;
    text-align: center;
    margin-top: 2.5rem;
  }

  .form-container {
    border-top: 1px solid var(--primary-border-color);
    margin: 2rem 6.25rem;
  }

  .form-title {
    margin-left: 1rem;
  }

  .form {
    flex-direction: column;
    align-items: center;
  }

  .book-form-title,
  .book-form-author {
    width: 90%;
    margin-bottom: 1rem;
  }

  .form-button {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .CircularProgressbar {
    display: none;
  }
}
